/node_modules
/public/hot
/public/storage/
/public/css/
/public/js/
/public/fonts/
/public/svg/
/public/images/
/public/front/
/public/back/
/storage/*.key
/vendor
/.idea
/.vscode
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache